/*---------- Basic CSS Stuff ----------*/

body {
    background-color: rgb(68,49,26);
    font-family: Helvetica;
    margin: 20px;
}

.content {
    background-color: rgb(241,241,241);
    padding: 15px;
    border-radius: 5px;
}

/*---------- Header ----------*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
}

.subheader-item {
    text-align: right;
    /*border: 1px solid black;*/
    max-height: 300px;
    margin-left: 5px;
    margin-right: 5px;
}

h5 {
    margin: 5px;
}

#card {
    width: 100%;
    max-width: 275px;
}

/*---------- Navigation ----------*/

.bg-brown {
    background-color: rgb(188,169,146);
    border-radius: 5px;
}

.navigation ul li {
    font-size: 20px;
    padding: 13px;
}

.navigation ul li a {
    text-decoration: none;
    color: black;
}

.navigation ul li a:hover {
    font-weight: bold;
}

/*---------- Footer ----------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------- Lists on Pub. and Pres. Pages ----------*/

.list-iems li {
    padding: 5px;
}

.img-right {
    float: right;
}

.img-right img {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search {
    border-radius: 5px;
    border: 1px solid rgb(216,216,216);
}

@media all and (max-width: 850px) {
    .img-right {
        float: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media all and (max-width: 670px) {
    h3 {
        font-size: 20px;
    }

    h5 {
        font-size: 15px;
    }
}