{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="content">
            <header class="header">
                <div class="subheader">
                    <div class="subheader-item">
                        <img id="card" src="{% static 'images/card-img.png' %}">
                    </div>
                    <div class="subheader-item">
                        <h3><b>Smithsonian Institution</b></h3>
                        <h5>National Museum of Natural History</h5>
                        <h5>Department of Entomology</h5>
                        <h5>P.O. Box 37102, MRC - 168, E526</h5>
                        <h5>Washington, D.C. 20013-7012</h5>
                        <h3><b>David Adamski</b></h3>
                        <h5>Research Associate</h5>
                        <h5>Tel: 202.812.0527</h5>
                        <h5>Email: adamskid@si.edu</h5>
                    </div>
                </div>
            </header>
        </div>
        <br>
        <div class="content">
            <nav class="navigation">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'publications' %}">Publications</a></li>
                    <li><a href="{% url 'presentations' %}">Presentations</a></li>
                    <li><a href="{% url 'travel' %}">Travel</a></li>
                    <li><a href="{% url 'grants' %}">Fellowships and Grants</a></li>
                </ul>
            </nav>
            <hr>
            {% block content %}
            {% endblock %}
        </div>
        <br>
        <div class="content">
            <footer>
                <p>Content and images © 2020 David Adamski. All rights reserved.</p>
                <p class="small text-muted">Website created by Megan McCarty</p>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
