{% extends 'database/base.html' %}
{% load static %}

{% block title %}Fellowships and Grants{% endblock %}

{% block headerimg1 %}
<img src="{% static 'images/adamski-croatia.jpg' %}">
{% endblock %}

{% block headerimg2 %}
<img src="{% static 'images/mantis.jpg' %}">
{% endblock %}

{% block content %}
<div class="img-center">
    <img src="{% static 'images/mantis-lg.jpg' %}">
</div>
<div class="search-box">
    <h4>Fellowships and Grants</h4>
    <input class="search" placeholder=" Search" />
</div>
<ul class="list list-items">
    {% for grant in grant_list %}
        <li>
            <span>
                {{ grant.year }}. {{ grant.grant_details | safe }}: ${{ grant.amount }}.
            </span>
        </li>
    {% endfor %}
</ul>
{% endblock %}