{% extends 'database/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block headerimg1 %}
<img src="{% static 'images/adamski-usnm.jpg' %}">
{% endblock %}

{% block headerimg2 %}
<img src="{% static 'images/blacklight.jpg' %}">
{% endblock %}

{% block content %}
<div class="img-center">
    <img src="{% static 'images/blacklight.jpg' %}">
</div>
<h4>About</h4>
<p>
    I was employed for 27 years with the Systematic Entomology Laboratory,
    Agricultural Research Service, United States Department of Agriculture from
    1990─2016. Although my responsibilities focused mainly on research on the
    Lepidoptera, I had experience working on Hemiptera (True Bugs), Aphididae
    (Sternorrhyncha), and phytophagus Acari.
</p>
<p>
    Since retirement, I became a Research Associate stationed at the National
    Museum of Natural History, Smithsonian Institution, Washington, DC, USA.
    And I continue to do research on the Lepidoptera, primarily on the Gelechioidea.
</p>
<p>
    My ongoing projects include: plylogenetics of the world Blastobasidae,
    including evolution of host-plant preferences and biogeography; Moths of
    America north of Mexico (MONA) fascicle on Blastobasidae, and many
    alpha-taxonomic and life-history studies on Nearctic, Neotropical, and
    Indo-Asian Gelechioidea.
</p>
<p>
    I am and remain eager to collaborate with anyone who desires identifications
    of taxa within my expertise, including life-history studies or general collecting.
</p>
<div class="img-center">
    <!--Put the other image here
    <img src="{% static 'images/blacklight.jpg' %}">-->
</div>
<h4>Education</h4>
<ul class="list">
    <li>1987: Ph.D., Mississippi State University (MSU): Entomology, Systematics.</li>
    <li>1981: M.S., University of Massachusetts (UMASS): Entomology, Systematics.</li>
    <li>1979: B.S., University of Massachusetts: Entomology.</li>
    <li>1977: M.S., American International College: Special Education.</li>
    <li>1972: B.S., American International College: Business Administration.</li>
</ul>
<h4>Societies</h4>
<ul class="list">
    {% for society in society_list %}
        <li>{{ society.society | safe }}</li>
    {% endfor %}
</ul>
{% endblock %}