{% extends 'database/base.html' %}
{% load static %}

{% block content %}
<head>
    {% block title %}<title>Dave Adamski - Presentations</title>{% endblock %}
</head>
<h3>Presentations: {{ pres_count }}</h3>
    <ul class="list">
        {% for presentation in pres_list %}
            <li>
                {% if presentation.presenter %}
                    {{ presentation.year}}. "{{ presentation.title | safe }}." {{ presentation.location | safe }}. {{ presentation.presenter }}, presenter.
                {% else %}
                    {{ presentation.year}}. "{{ presentation.title | safe }}." {{ presentation.location | safe }}.
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}