{% extends 'database/base.html' %}
{% load static %}

{% block content %}
<head>
    {% block title %}<title>Dave Adamski - Publications</title>{% endblock %}
</head>
<div id="all-items">
    <div class="search-box">
        <h3>Publications: {{ pub_count }}</h3>
        <input class="search" placeholder="Search" />
    </div>
    <ol class="list list-items">
        {% for publication in pub_list %}
            <li>
                <span class="item">{{ publication.author }}. {{ publication.year_and_letter }}. {{ publication.reference | safe }}.</span>
            </li>
        {% endfor %}
    </ol>
</div>
{% endblock %}