{% extends 'database/base.html' %}
{% load static %}

{% block title %}Publications{% endblock %}

{% block headerimg1 %}
<img src="{% static 'images/msu.jpg' %}">
{% endblock %}

{% block headerimg2 %}
<img src="{% static 'images/kenya.jpg' %}">
{% endblock %}

{% block content %}
<div class="img-center">
    <img src="{% static 'images/adamski-usnm.jpg' %}">
</div>
<div class="search-box">
    <h4>Publications: {{ pub_count }}</h4>
    <input class="search" placeholder=" Search" />
</div>
<ol class="list list-items">
    {% for publication in pub_list %}
        <li>
            <span>{{ publication.author }} {{ publication.year_and_letter }}.
            {{ publication.reference | safe }}
            {% if publication.pdf %}
                <a target="_blank" href="{{ publication.pdf.url }}">Download PDF</a>
            {% endif %}
        </span>
        </li>
    {% endfor %}
</ol>
{% endblock %}