{% extends 'database/base.html' %}
{% load static %}

{% block content %}
<head>
    {% block title %}<title>David Adamski - Travel</title>{% endblock %}
</head>
<div class="search-box">
    <h4>Travel</h4>
    <input class="search" placeholder=" Search" />
</div>
<div class="img-right">
    <img class="img-right" src="{% static 'images/atlas-moth.jpg' %}">
</div>
<ul class="list list-items">
    {% for travel in travel_list %}
        <li>
            <span>
                {{ travel.year }}: {{ travel.travel_details | safe }}
            </span>
        </li>
    {% endfor %}
</ul>
{% endblock %}