{% extends 'database/base.html' %}
{% load static %}

{% block title %}Travel{% endblock %}

{% block headerimg1 %}
<img src="{% static 'images/atlas-moth.jpg' %}">
{% endblock %}

{% block headerimg2 %}
<img src="{% static 'images/adamski-bklight.jpg' %}">
{% endblock %}

{% block content %}
<div class="img-center">
    <img src="{% static 'images/atlas-moth.jpg' %}">
</div>
<div class="search-box">
    <h4>Travel</h4>
    <input class="search" placeholder=" Search" />
</div>
<ul class="list list-items">
    {% for travel in travel_list %}
        <li>
            <span>
                {{ travel.year }}: {{ travel.travel_details | safe }}
            </span>
        </li>
    {% endfor %}
</ul>
{% endblock %}